<div class="password-page__main__inner">

  {% comment %}
    Opening soon text
  {% endcomment %}
  {% if section.settings.header != blank %}
  <h2 class="password-page__hero">{{ section.settings.header | escape }}</h2>
  {% endif %}

  {% comment %}
    Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
  {% endcomment %}

  {% unless shop.password_message == blank %}
    <div class="password-page__message">
      {{ shop.password_message }}
    </div>
    <hr class="hr--small hr--clear">
  {% endunless %}

  {% comment %}
    Signup form
  {% endcomment %}

  {% if section.settings.newsletter_enable %}
  <div class="password-page__signup-form">
    {% form 'customer' %}
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
        <p class="form-success">{{ 'general.password_page.signup_form_success' | t }}</p>
      {% else %}
        <p class="password-page__signup-form-heading h5">{{ section.settings.newsletter_form_heading | escape }}</p>
        {% unless section.settings.newsletter_form_subheading == blank %}
          <div class="password-page__signup-form-subheading ">
            {{ section.settings.newsletter_form_subheading }}
          </div>
        {% endunless %}
        <input type="hidden" name="contact[tags]" value="prospect, password page">
        <label for="email" class="hidden-label">{{ 'general.password_page.signup_form_email_label' | t }}</label>
        <div class="input-group">
          <input type="text" name="contact[email]" id="email" class="input-group-field" placeholder="{{ section.settings.newsletter_placeholder | escape }}" autofocus>
          <span class="input-group-btn">
            <input type="submit" class="btn-secondary btn--small" value="{{ section.settings.newsletter_button_text | escape }}">
          </span>
        </div>
      {% endif %}
    {% endform %}
  </div>
  {% endif %}

  {% comment %}
    Share homepage URL
    Shared text is from the store meta description
  {% endcomment %}

  {% if section.settings.show_share_buttons %}
  <div class="password-page__social-sharing">
    <p class="h5">{{ 'general.password_page.spread_the_word' | t }}</p>
    {% include 'social-sharing' %}
  </div>
  {% endif %}
</div>



{% schema %}
{
  "name": {
    "da": "Indhold",
    "de": "Inhalt",
    "en": "Content",
    "es": "Contenido",
    "fi": "Sisältö",
    "fr": "Contenu",
    "hi": "सामग्री",
    "it": "Contenuto",
    "ja": "コンテンツ",
    "ko": "콘텐츠",
    "nb": "Innhold",
    "nl": "Content",
    "pt-BR": "Conteúdo",
    "pt-PT": "Conteúdo",
    "sv": "Innehåll",
    "th": "เนื้อหา",
    "zh-CN": "内容",
    "zh-TW": "內容"
  },
  "class": "password-page__main",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": {
        "da": "Overskrift",
        "de": "Überschrift",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "Titre",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "da": "Kommer snart",
        "de": "Demnächst",
        "en": "Coming Soon",
        "es": "Próximamente",
        "fi": "Tulossa pian",
        "fr": "Ouverture prochaine",
        "hi": "जल्द आ रहा है",
        "it": "Presto disponibile",
        "ja": "まもなく公開",
        "ko": "곧 출시 예정",
        "nb": "Kommer snart",
        "nl": "Binnenkort",
        "pt-BR": "Em breve",
        "pt-PT": "Em breve",
        "sv": "Kommer snart",
        "th": "เร็วๆ นี้",
        "zh-CN": "即将推出",
        "zh-TW": "即將推出"
      }
    },
    {
      "type": "header",
      "content": {
        "da": "Nyhedsbrev",
        "de": "Newsletter",
        "en": "Newsletter",
        "es": "Boletín",
        "fi": "Uutiskirje",
        "fr": "Newsletter",
        "hi": "न्यूज़लेटर",
        "it": "Newsletter",
        "ja": "ニュースレター",
        "ko": "뉴스레터",
        "nb": "Nyhetsbrev",
        "nl": "Nieuwsbrief",
        "pt-BR": "Newsletter",
        "pt-PT": "Newsletter",
        "sv": "Nyhetsbrev",
        "th": "จดหมายข่าว",
        "zh-CN": "新闻通讯",
        "zh-TW": "電子報"
      }
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": {
        "da": "Vis tilmelding til nyhedsbrev",
        "de": "Newsletter-Anmeldung anzeigen",
        "en": "Show newsletter signup",
        "es": "Mostrar suscripción al boletín",
        "fi": "Näytä uutiskirjeen tilaus",
        "fr": "Afficher l'inscription à la newsletter",
        "hi": "न्यूज़लेटर साइनअप दिखाएं",
        "it": "Mostra iscrizione alla newsletter",
        "ja": "ニュースレターの登録を表示する",
        "ko": "뉴스레터 신청 표시",
        "nb": "Vis nyhetsbrev-registrering",
        "nl": "Aanmelden voor nieuwsbrief weergeven",
        "pt-BR": "Exibir assinatura da newsletter",
        "pt-PT": "Mostrar registo na newsletter",
        "sv": "Visa nyhetsbrevsregistrering",
        "th": "แสดงการสมัครรับจดหมายข่าว",
        "zh-CN": "显示新闻通讯注册",
        "zh-TW": "顯示訂閱電子報"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_form_heading",
      "label": {
        "da": "Overskrift til nyhedsbrevsformular",
        "de": "Überschrift für Newsletter-Formular",
        "en": "Newsletter form heading",
        "es": "Título del formulario del boletín",
        "fi": "Uutiskirjelomakkeen otsikko",
        "fr": "Titre du formulaire de la newsletter",
        "hi": "न्यूज़लेटर फ़ॉर्म का शीर्षक",
        "it": "Titolo del modulo della newsletter",
        "ja": "ニュースレターフォームの見出し",
        "ko": "뉴스레터 양식 제목",
        "nb": "Skjemaoverskrift for nyhetsbrev",
        "nl": "Kop van nieuwsbriefformulier",
        "pt-BR": "Título do formulário da newsletter",
        "pt-PT": "Título do formulário da newsletter",
        "sv": "Nyhetsbrevsformulärrubrik",
        "th": "ส่วนหัวแบบฟอร์มจดหมายข่าว",
        "zh-CN": "标题中的新闻通讯",
        "zh-TW": "電子報表單標題"
      },
      "default": {
        "da": "Se, hvornår vi åbner",
        "de": "Herausfinden, wann wir öffnen",
        "en": "Find out when we open",
        "es": "Averigua cuándo abrimos",
        "fi": "Tarkista, milloin avaamme",
        "fr": "Restez au courant de notre date de lancement",
        "hi": "हमारे द्वारा खोलने पर पता करें",
        "it": "Scopri quando apriamo",
        "ja": "開店を知らせる",
        "ko": "열 때 찾아보기",
        "nb": "Finn ut når vi åpner",
        "nl": "Ontdek wanneer we open zijn",
        "pt-BR": "Fique por dentro quando abrirmos a loja",
        "pt-PT": "Descubra quando estamos abertos",
        "sv": "Ta reda på när vi öppnar",
        "th": "ดูข้อมูลว่าเราเปิดเมื่อใด",
        "zh-CN": "了解我们的开业时间",
        "zh-TW": "瞭解我們的開張時間"
      },
      "info": {
        "da": "[Fortæl dine kunder om en rabat på lanceringsdagen](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "de": "[Informieren Sie Ihre Besucher über einen Rabatt am Tag der Shop-Eröffnung](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "en": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "es": "[Informa a tus visitantes sobre un descuento del día de lanzamiento](https://es.shopify.com/blog/15567552-14-maneras-de-utilizar-las-ofertas-cupones-y-descuentos-para-generar-ganancias-y-lealtad-del-cliente).",
        "fi": "[Kerro kävijöille aloituspäivän alennuksesta](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "fr": "[Annoncez une réduction à vos visiteurs pour le jour du lancement](https://fr.shopify.com/blog/57222917-14-manieres-dutiliser-les-codes-promo-bons-de-reduction-coupons-et-remises-pour-generer-des-revenus-et-fideliser-les-clients).",
        "hi": "[अपने दर्शकों को लॉन्च के दिन की छूट के बारे में बताएं](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "it": "[Informa i tuoi visitatori su uno sconto previsto il giorno del lancio](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "ja": "[訪問者に発売日の割引について伝える](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)。",
        "ko": "[출시 할인에 대해 방문자에게 알리십시오](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and -customer-loyalty).",
        "nb": "[Fortell de besøkende om en lanseringsrabatt](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "nl": "[Vertel uw bezoekers over kortingen op openingsdag](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "pt-BR": "[Informe seus visitantes sobre um desconto de lançamento](https://pt.shopify.com/blog/aplicativos-de-desconto).",
        "pt-PT": "[Informe os seus visitantes sobre um desconto no dia de lançamento](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "sv": "[Berätta för dina besökare om rabatter på lanseringsdagen](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "th": "[บอกผู้เยี่ยมชมของคุณเกี่ยวกับส่วนลดวันเปิดตัว](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)",
        "zh-CN": "[告诉访客您的推出日折扣](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)。",
        "zh-TW": "[通知訪客上市日折扣活動](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)。"
      }
    },
    {
      "type": "richtext",
      "id": "newsletter_form_subheading",
      "label": {
        "da": "Underoverskrift til nyhedsbrevsformular",
        "de": "Untertitel für Newsletter-Formular",
        "en": "Newsletter form subheading",
        "es": "Subtítulo del formulario del boletín",
        "fi": "Uutiskirjelomakkeen alaotsikko",
        "fr": "Sous-titre du formulaire de la newsletter",
        "hi": "न्यूज़लेटर फ़ॉर्म का उपशीर्षक",
        "it": "Sottotitolo del modulo della newsletter",
        "ja": "ニュースレターフォームの小見出し",
        "ko": "뉴스레터 양식 소제목",
        "nb": "Underoverskrift for nyhetsbrevskjema",
        "nl": "Subkop van nieuwsbriefformulier",
        "pt-BR": "Subtítulo do formulário da newsletter",
        "pt-PT": "Subtítulo do formulário da newsletter",
        "sv": "Nyhetsbrevsformulär underrubrik",
        "th": "หัวเรื่องย่อยแบบฟอร์มจดหมายข่าว",
        "zh-CN": "副标题中的新闻通讯",
        "zh-TW": "電子報表單副標題"
      },
      "default": {
        "da": "<p>Reklamer, nye produkter og salg. Direkte i din indbakke.</p>",
        "de": "<p>Werbeaktionen, neue Produkte und Sonderangebote. Direkt in Ihrem Posteingang.</p>",
        "en": "<p>Promotions, new products and sales. Directly to your inbox.</p>",
        "es": "<p>Promociones, nuevos productos y ventas. Directamente a tu bandeja de entrada.</p>",
        "fi": "<p>Kampanjat, uudet tuotteet ja myynti. Suoraan saapuneet-kansioosi</p>",
        "fr": "<p>Promotions, nouveaux produits et soldes. Directement dans votre boîte de réception.</p>",
        "hi": "<p>प्रमोशन, नए उत्पाद और सेल. सीधे आपके इनबॉक्स में.</p>",
        "it": "<p>Promozioni, nuovi prodotti e offerte. Direttamente nella tua casella di posta.</p>",
        "ja": "<p>新商品やセール情報などのお得な情報をお届けします。</p>",
        "ko": "<p>프로모션, 신제품, 판매. 받은 편지함으로 바로 이동.</p>",
        "nb": "<p>Kampanjer, nye produkter og salg. Direkte i innboksen din.</p>",
        "nl": "<p>Promoties, nieuwe producten en uitverkoop rechtstreeks in uw inbox.</p>",
        "pt-BR": "<p>Promoções, novos produtos e ofertas, diretamente em sua caixa de entrada.</p>",
        "pt-PT": "<p>Promoções, novos produtos e ofertas. Diretamente na sua caixa de entrada.</p>",
        "sv": "<p>Kampanjer, nya produkter och försäljning. Direkt till din inkorg.</p>",
        "th": "<p>โปรโมชัน สินค้าใหม่ และการลดราคา ตรงสู่กล่องจดหมายเข้าของคุณ</p>",
        "zh-CN": "<p>促销、新产品和销售。直接发送到您的收件箱。</p>",
        "zh-TW": "<p>讓您直接在收件匣內收取促銷活動、最新產品和特賣活動訊息。</p>"
      }
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": {
        "da": "Pladsholdertekst til nyhedsbrev",
        "de": "Platzhaltertext für Newsletter",
        "en": "Newsletter placeholder text",
        "es": "Texto de marcador de posición del boletín",
        "fi": "Uutiskirjeen paikkamerkkiteksti",
        "fr": "Texte du paramètre fictif de la newsletter",
        "hi": "न्यूज़लेटर प्लेसहोल्डर टेक्स्ट",
        "it": "Testo del segnaposto della newsletter",
        "ja": "ニュースレターのプレースホルダテキスト",
        "ko": "뉴스레터 플레이스 홀더 텍스트",
        "nb": "Plassholdertekst for nyhetsbrev",
        "nl": "Plaatsaanduidingstekst nieuwsbrief",
        "pt-BR": "Texto provisório da newsletter",
        "pt-PT": "Texto do marcador de posição da newsletter",
        "sv": "Nyhetsbrevets platshållartext",
        "th": "ข้อความตัวยึดจดหมายข่าว",
        "zh-CN": "新闻稿占位符文本",
        "zh-TW": "電子報預留位置文字"
      },
      "default": {
        "da": "Din e-mail",
        "de": "Ihre E-Mail-Adresse",
        "en": "Your email",
        "es": "Tu correo electrónico",
        "fi": "Sähköpostiosoitteesi",
        "fr": "Votre e-mail",
        "hi": "आपका ईमेल",
        "it": "Indirizzo email",
        "ja": "メールアドレス",
        "ko": "이메일:",
        "nb": "E-posten din",
        "nl": "Uw e-mailadres",
        "pt-BR": "Seu e-mail",
        "pt-PT": "O seu e-mail",
        "sv": "Din e-postadress",
        "th": "อีเมลของคุณ",
        "zh-CN": "您的电子邮件",
        "zh-TW": "您的電子郵件"
      }
    },
    {
      "type": "text",
      "id": "newsletter_button_text",
      "label": {
        "da": "Knaptekst til nyhedsbrev",
        "de": "Text für Newsletter-Schaltfläche",
        "en": "Newsletter button text",
        "es": "Texto del botón del boletín",
        "fi": "Uutiskirjeen painiketeksti",
        "fr": "Texte du bouton de la newsletter",
        "hi": "न्यूज़लेटर बटन टेक्स्ट",
        "it": "Testo del pulsante newsletter",
        "ja": "ニュースレターボタンのテキスト",
        "ko": "뉴스레터 버튼 텍스트",
        "nb": "Knappetekst for nyhetsbrev",
        "nl": "Tekst knop nieuwsbrief",
        "pt-BR": "Texto do botão da newsletter",
        "pt-PT": "Texto do botão da newsletter",
        "sv": "Nyhetsbrevsknapptext",
        "th": "ข้อความปุ่มจดหมายข่าว",
        "zh-CN": "新闻稿按钮文本",
        "zh-TW": "電子報按鈕文字"
      },
      "default": {
        "da": "Indsend",
        "de": "Eingabe",
        "en": "Submit",
        "es": "Enviar",
        "fi": "Lähetä",
        "fr": "Envoyer",
        "hi": "सबमिट करें",
        "it": "Invia",
        "ja": "送信する",
        "ko": "제출",
        "nb": "Send",
        "nl": "Verzenden",
        "pt-BR": "Enviar",
        "pt-PT": "Enviar",
        "sv": "Skicka",
        "th": "ส่ง",
        "zh-CN": "提交",
        "zh-TW": "提交"
      }
    },
    {
      "type": "header",
      "content": {
        "da": "Deling på sociale medier",
        "de": "Social Sharing",
        "en": "Social sharing",
        "es": "Compartir en redes sociales",
        "fi": "Sosiaalisen median jakaminen",
        "fr": "Partage social",
        "hi": "सोशल शेयरिंग आइकन",
        "it": "Condivisione sui social",
        "ja": "ソーシャル共有",
        "ko": "소셜 공유",
        "nb": "Sosial deling",
        "nl": "Delen via social media",
        "pt-BR": "Compartilhamento nas redes sociais",
        "pt-PT": "Partilha nas redes sociais",
        "sv": "Social delning",
        "th": "การแชร์ลงโซเชียล",
        "zh-CN": "社交分享",
        "zh-TW": "社群分享"
      }
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "da": "Vis knapper til deling på sociale medier",
        "de": "Buttons für Social Media anzeigen",
        "en": "Show social sharing buttons",
        "es": "Mostrar botones para compartir en redes sociales",
        "fi": "Näytä sosiaalisen median jakamispainikkeet",
        "fr": "Afficher les boutons de partage sur les médias sociaux",
        "hi": "सोशल शेयरिंग बटन दिखाएं",
        "it": "Mostra i pulsanti per la condivisione sui social",
        "ja": "ソーシャル共有ボタンを表示する",
        "ko": "소셜 공유 버튼 표시",
        "nb": "Vis knapper for deling på sosiale medier",
        "nl": "Knoppen voor sociaal delen weergeven",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais",
        "pt-PT": "Mostrar botões de partilha nas redes sociais",
        "sv": "Visa knappar för delning i sociala medier",
        "th": "แสดงปุ่มสำหรับแชร์ลงโซเชียล",
        "zh-CN": "显示社交分享按钮",
        "zh-TW": "顯示社群分享按鈕"
      },
      "default": true
    }
  ]
}
{% endschema %}
